<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>user.ollama</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{OLLAMA_PATH}}</string>
        <string>serve</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>OLLAMA_MAX_LOADED_MODELS</key>
        <string>{{OLLAMA_MAX_LOADED_MODELS}}</string>
        <key>OLLAMA_NUM_PARALLEL</key>
        <string>{{OLLAMA_NUM_PARALLEL}}</string>
        <key>OLLAMA_KEEP_ALIVE</key>
        <string>{{OLLAMA_KEEP_ALIVE}}</string>
        <key>OLLAMA_CONTEXT_LENGTH</key>
        <string>{{OLLAMA_CONTEXT_LENGTH}}</string>
        <key>OLLAMA_KV_CACHE_TYPE</key>
        <string>{{OLLAMA_KV_CACHE_TYPE}}</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/ollama.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ollama.stderr.log</string>
</dict>
</plist>
