root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sublime-settings,terminal}]
indent_style = tab

[.gitconfig]
indent_style = tab

[*.{sh,md}]
indent_space = 4
indent_style = space
