[color]
	ui = auto

[color "branch"]
	current = yellow
	local = green
	remote = cyan

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	# shortcut to list all aliases for git
	la = !git config --get-regexp '^alias\.' | sed 's/^alias\.//'

	# aliases for the most common commands
	br = branch
	co = checkout
	ci = commit
	s  = status -s -uno
	st = status

	# aliases for housekeeping
	cleanup = clean -fdx
	tidy	= gc --prune=now

	# aliases to modify existing commits and tags
	caan  = commit --all --amend --no-edit
	sign  = commit --amend --reset-author
	undo  = reset --soft HEAD^
	untag = tag --delete

	# aliases to provide different views of the commit log
	one	= show -1
	ten	= log -10 --pretty=short --stat
	cached = diff --cached
	ls	 = log --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(cyan)(%cr) %C(blue)[%cn]'
	ll	 = log --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(cyan)(%cr) %C(blue)[%cn]' --numstat
	lg	 = log --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(cyan)(%cr) %C(blue)[%cn]' --graph

	# aliases for repository inspection & meta
	current = branch --show-current
	root	= rev-parse --show-toplevel
	contrib = shortlog --summary --numbered
	edit	= config --global -e

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[fetch]
	prune = true
	pruneTags = true

[column]
	ui = auto

[grep]
	lineNumber = true
	patternType = extended

[pull]
	rebase = true

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[merge]
	conflictStyle = diff3

[rebase]
	autostash = true

[core]
	autocrlf = input
	editor = vim

[commit]
	verbose = true

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig.local
