[color]
	ui = auto

[color "branch"]
	current = yellow
	local = green
	remote = cyan

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	# shortcut to list all aliases for git
	la = !git config -l | grep alias | cut -c 7-

	# aliases for the most common commands
	br = branch
	co = checkout
	ci = commit
	s = status -s -uno
	st = status

	# aliases for housekeeping
	cleanup = clean -fdx
	tidy = gc --prune=now

	# aliases for modifying existing commits and tags
	caan = commit --all --amend --no-edit
	sign = commit --amend --reset-author
	undo = reset --soft HEAD^
	untag = tag --delete

	# aliases for viewing the commit log
	one = show -1
	ten = log -10 --pretty=short --stat
	cached = diff --cached
	ls = log --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(cyan)(%cr) %C(blue)[%cn]'
	ll = log --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(cyan)(%cr) %C(blue)[%cn]' --numstat
	lg = log --pretty=format:'%C(yellow)%h %C(red)%d %C(reset)%s %C(cyan)(%cr) %C(blue)[%cn]' --graph

	# aliases for repository inspection & meta
	current = branch --show-current
	root = rev-parse --show-toplevel
	contrib = shortlog --summary --numbered
	edit = config --global -e

[branch]
	autoSetupMerge = simple
	sort = -committerdate

[column]
	ui = auto

[commit]
	verbose = true

[core]
	autocrlf = input
	editor = vim

[diff]
	algorithm = histogram
	colorMoved = default

[fetch]
	parallel = 0
	prune = true
	pruneTags = true

[grep]
	lineNumber = true
	patternType = extended

[help]
	autocorrect = 1

[init]
	defaultBranch = main

[merge]
	conflictStyle = zdiff3
	conflict.algorithm = histogram

[pull]
	rebase = true

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[rebase]
	autostash = true

[safe]
	directory = *

[tag]
	sort = version:refname

[include]
	path = ~/.gitconfig.local
